@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}



$break-color: #3b494f;

@mixin circle-buttons(){
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  cursor: pointer;
  height: 5px;
  width: 5px;
  border: 2px solid #df7370;
  border-radius: 50%;
  font-size: 8px;
  margin: auto 10px;
}
#main-title {
  text-align: center;
  font-size: 40px;
  margin: 0px auto 35px;
}

body {
  font-family: 'Righteous';
  background: #d9534f;
  color: #fff;
  margin: 0;
  padding: 0;
  #root{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #pomodoro {
      max-width: 500px;
      width: 80%;
      #buttons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        #break{
          text-align: center;
          font-size: 30px;
          p { 
            margin: 10px;
            font-size: 20px;
            font-weight: lighter;
          }
          #break-label {
            display: flex;
            justify-content: center;
            .container-buttons {@include circle-buttons}
            .container-buttons:hover {
              border: 2px solid #fff;
            }
          }
        }
        #session {
          text-align: center;
          font-size: 30px;
          p { 
            margin: 10px;
            font-size: 20px;
            font-weight: lighter;
          }
          #session-label {
            display: flex;
            justify-content: center;
            .container-buttons {@include circle-buttons}
            .container-buttons:hover {
              border: 2px solid #fff;
              width: 30
            }
          }
        }
      }
      #display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 10px auto;
        height: 200px;
        border: 3px solid #fff;
        max-width: 200px;
        border-radius: 50%;
        font-weight: bolder;
        font-size: 20px;
        #time-left {
          font-size: 40px;
          font-family: digital;
        }
      }
      #play-reset {
        display: flex;
        justify-content: center;
        #start-pause {
          @include circle-buttons;
          margin: auto 0;
          width: 50px;
          height: 50px;
        }
        #restart {
          @include circle-buttons;
          margin: auto 0;
          padding: 20px;
        }
        #start-pause:hover {
          border: 2px solid #fff;
        }
        #restart:hover {
          border: 2px solid #fff;
        }
      }
    }
  }
}

@media( max-width:385px ){
  body #root #pomodoro #buttons {
    justify-content: center;
  }
  body #root #pomodoro #buttons #break,
  body #root #pomodoro #buttons #session,{
    font-size: 25px;
  }
  #main-title {
    font-size: 28px;
    margin: 20px auto 0px;
  }
}